.toasted {
    float: right;
    background: #00fe4c;
    /* border-color: rgb(1, 255, 136); */
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 1px;
    z-index: 1000;
    padding: 1px;
    /* padding-top: 30px; */
    border-radius: 1px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}