table {
    width: 100%;
    /* border-style: dotted; */
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 5px 15px rgba(252, 232, 119, 0.3);
}

.inputNote {
    text-decoration: line-through red;
}

.addBtn {
    position: absolute;
    float: right;
    right: 40px;
    width: auto;
    background: rgb(234, 207, 255);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(195, 7, 7, 0.3);
text-decoration: solid;
border-style: none;
}
.logOutBtn{
    position: absolute;
    float: right;
    right: 40px;
    width: auto;
    background: rgb(119, 202, 215);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(195, 7, 7, 0.3);
text-decoration: solid;
border-style: none;
}
.addBtn:hover {background: rgb(214, 63, 169);}
.btnAddDiv{
    padding-top: 50px;
    padding-bottom: 100px;
}
.uploadExcel{border-style: none;
}
.uploadExcel:hover{background-color: #95baff;
}
.downloadExcel{border-style: none;}
.downloadExcel:hover{background-color: #95baff;}
.act-drp-down-btn{border-style: none;}
.act-drp-down-btn:hover{background-color: #95baff;}
.note {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    border-style: none;
    right: 10px;
}
.notes{
    border-style: none;
    border-radius: 12px;
}
.slTh{
    width: 100px;
}
.slThBtn{
    border-style: none;
    background-color: bisque;
}
.dateTh{
    width: 170px;
}
.dateThBtn{
    border-style: none;
    background-color: bisque;
    width: auto;
    /* padding-right:80px; */
    padding-left: 0px;
    /* align-content: flex-end; */
}
.notesDateSearch{
     border-style: none;
    border-radius: 12px;
    width: 109px;
   /* position: absolute; */
}
.checkedBtnItems{
    border-style: none;
    background-color: bisque;
    width: auto;
    /* padding-right:80px; */
    padding-left: 0px;
}
.checkedTh{
    background-color: bisque;
    border-style: none;
    right: 20px;
}
th,
td {
    background-color: bisque;
    border: 1px rgb(68, 24, 109);
    border-style: none;
    border-radius: 40px;
    padding: 2px;
}

.mainDiv {
    position: relative;
    border-style: none;
    /* padding-bottom: 120px; */
    /* padding-top: 20px; */
}

.btn-right-drp-down {
    float: right;
    border-style: none;
    border-radius: 40px;
}

.drop-down-content {
    border-style: none;
    display: none;
    position: absolute;
    background-color: #95baff;
border-radius: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop-down-content.show {
    display: block;
}

.upload-excel-content {
    display: none;

    /* float: right; */
    /* top: 40px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #95baff; */
    /* min-width: auto; */
    z-index: 100;
    padding: 20px;
    border-radius: 10px;
    background: white;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

.upload-excel-content.show {
    display: block;
}
.logout-popup-content{display: none;

    /* float: right; */
    /* top: 40px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #95baff; */
    /* min-width: auto; */
    z-index: 100;
    padding: 20px;
    border-radius: 10px;
    background: white;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 200px;
    text-align: center;}
.logout-popup-content.show{ display: block;}
.act-cancel-btn {
    float: left;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 127, 76);
    border-radius: 8px;
    border-style: none;
}

.act-submit-btn {
    float: right;
    color: rgb(0, 0, 0);
    background-color: rgb(80, 240, 117);
    border-radius: 8px;border-style: none;
}

.uploadExcelDiv {
    /* position: relative?;  */
    padding-left: 60px;
    padding-bottom: 10px;
}

.uploadExcelBtnDiv {
    padding-top: 20px;
}