table {
    width: 100%;
    /* border-style: dotted; */
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(252, 232, 119, 0.3);
}

.inputNote {
    text-decoration: line-through red;
}

.addBtn {
    position: absolute;
    float: right;
    right: 40px;
    width: auto;
    background: rgb(255, 207, 241);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(195, 7, 7, 0.3);
text-decoration: solid;
}
.btnAddDiv{
    padding: 50px;
}

.note {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
}

th,
td {
    background-color: bisque;
    border: 1px rgb(68, 24, 109);
    border-style: groove;
    border-radius: 40px;
    padding: 2px;
}

.mainDiv {
    position: relative;
    /* padding-bottom: 120px; */
    /* padding-top: 20px; */
}

.btn-right-drp-down {
    float: right;
}

.drop-down-content {
    display: none;
    position: absolute;
    background-color: #95baff;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop-down-content.show {
    display: block;
}

.upload-excel-content {
    display: none;

    /* float: right; */
    /* top: 40px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #95baff; */
    /* min-width: auto; */
    z-index: 100;
    padding: 20px;
    border-radius: 10px;
    background: white;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

.upload-excel-content.show {
    display: block;
}

.act-cancel-btn {
    float: left;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 127, 76);
    border-radius: 8px;
}

.act-submit-btn {
    float: right;
    color: rgb(0, 0, 0);
    background-color: rgb(80, 240, 117);
    border-radius: 8px;
}

.uploadExcelDiv {
    /* position: relative?;  */
    padding-left: 60px;
    padding-bottom: 10px;
}

.uploadExcelBtnDiv {
    padding-top: 20px;
}