.mainDiv{
    background: #4fbce3;
    width: 100%;
    padding-bottom: 20px;
    padding: auto;
    border-radius: 12px;
    border-style: ridge;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.title{
    background: #a130d2;
    text-align: center;
    color: aqua;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}